<h1><center>Stock Market Trading Bot</center></h1>

# Table of contents
* [Introduction: Business Problem](#introduction)
* [OHLC Data]() 
    * [Loading Data](#OHLC_Load)
    * [Plotting Data](#Plt)
    * [Descriptive Statistics](#desc)
    * [Inferential Statistics](#Inf)
    * [Trading FrameWork](#Tf)
    * [Trade Log](#Tl)
    * [Unit Testing](#Ut)
* [Per Trade Data]()
    * [Loading Data](#pt)
    * [Combining Date Time](#dt)

# Importing libraries

In [ ]:
! pip install plotly

In [1]:
import csv
import time
import math
import numpy as np
import pandas as pd
import seaborn as sns
from scipy import stats
import matplotlib as mpl
from datetime import datetime
import matplotlib.pyplot as plt

# Data Source

[Data Source](https://www.kaggle.com/ghazanfarali/ksedataset?select=UBL.csv) 
[Data Source](https://www.kaggle.com/arsalanjaved/pakistan-stock-exchange)

# Loading data <a name='OHLC_Load'></a>

In [ ]:
UBL=pd.read_csv('Data/UBL.csv',index_col='Date',parse_dates=True)
HBL=pd.read_csv('Data/HBL.csv',index_col='Date',parse_dates=True)
NBP=pd.read_csv('Data/NBP.csv',index_col='Date',parse_dates=True)
MEBL=pd.read_csv('Data/MEBL.csv',index_col='Date',parse_dates=True)
UBL.head()

# Plotting Data <a name='Plt'></a>

In [ ]:
plt.figure(figsize=(12,8))
sns.lineplot(data=UBL.Close,label='UBL')
sns.lineplot(data=HBL.Close,label='HBL')
sns.lineplot(data=MEBL.Close,label='MEBL')
sns.lineplot(data=NBP.Close,label='NBP')
plt.xlabel('Date',fontsize=15)
plt.ylabel('Closing Price',fontsize=15)
plt.title('Trend of Share Price of different KSE-30 Companies',fontsize=15)

## Dropping redundant feature

In [ ]:
UBL.drop('Symbol',axis=1,inplace=True)
MEBL.drop('Symbol',axis=1,inplace=True)
NBP.drop('Symbol',axis=1,inplace=True)
HBL.drop('Symbol',axis=1,inplace=True)

## Changing column names in order to facilitate merge

In [ ]:
UBL.columns=['UBL_Open','UBL_High','UBL_Low','UBL_Close','UBL_Volume']
MEBL.columns=['MEBL_Open','MEBL_High','MEBL_Low','MEBL_Close','MEBL_Volume']
HBL.columns=['HBL_Open','HBL_High','HBL_Low','HBL_Close','HBL_Volume']

## Merging Data Frame

In [ ]:
data=pd.concat([UBL,MEBL,HBL],axis=1)
data.info()

## Reversing Data Frame

In [ ]:
data1=data.iloc[::-1]
data1=data1.reset_index()
data1=data1.iloc[::-1]
data1=data1.set_index('Date')

In [ ]:
x=data1

In [ ]:
x.head()

## Dropping Missing Values

In [ ]:
data1.dropna(inplace=True)

In [ ]:
data1.isnull().sum().sum()

# Descriptive Statistics <a name='desc'></a>

In [ ]:
data2=data1.loc[:,['UBL_Close','MEBL_Close','HBL_Close']]

In [ ]:
plt.figure(figsize=(10,7))
sns.heatmap(data=data2.corr())

## Box plot

In [ ]:
plt.figure(figsize=(14,10))
sns.boxplot(data=data2)
plt.xlabel('Date',fontsize=15)
plt.ylabel('Closing Price',fontsize=15)
plt.title('Trend of Share Price of different KSE-30 Companies',fontsize=15)

# Inferential Statistics <a name='Inf'></a>

## Pearson Correlation

In [ ]:
pearson_coeff,p_val=stats.pearsonr(data2['UBL_Close'],data2['HBL_Close'])
pearson_coeff,p_val

**_Conclusion:_**

Since the p-value is <
0.001, the correlation between UBL Stock Closing Price and HBL Stock Closing Price is statistically significant, and the linear relationship is quite strong (~0.834).

In [ ]:
pearson_coeff,p_val=stats.pearsonr(data2['UBL_Close'],data2['MEBL_Close'])
pearson_coeff,p_val

**_Conclusion:_**

Since the p-value is <
0.001, the correlation between UBL Stock Closing Price and HBL Stock Closing Price is statistically significant, and the linear relationship is quite strong (~0.738).

In [ ]:
pearson_coeff,p_val=stats.pearsonr(data2['MEBL_Close'],data2['HBL_Close'])
pearson_coeff,p_val

# Trading Frame Work <a name='Tf'></a>

In [ ]:
def trader(X,nS1,nS3,share_price1,share_price2):
    Amount_Gained=((nS3*share_price2)*.1)
    Brocker_fee=((nS3*share_price2)*.1)*.3*.01
    nS3=nS3-(nS3*.1)
    X=X+Amount_Gained-Brocker_fee
    Shares_bought=(.997*Amount_Gained)/share_price1
    nS1=nS1+Shares_bought
    X=X-(.997*Amount_Gained)
    return X,nS1,nS3,Amount_Gained,-(Shares_bought*share_price1),Brocker_fee

## Refactored Code

In [ ]:
def stock1(X,nS1,nS2,nS3,pS1,pS2,pS3,share_prices,Prediction,TN,low_thres,high_thres):
    Trade_Occurred,Brocker_fee,Share1,Share2,Share3,temp1,temp2,temp3=False,0,0,0,0,0,0,0
    if (pS3/TN)>low_thres and (pS2/TN)>low_thres:
            X,nS1,nS3,temp1,temp2,temp3=trader(X,nS1,nS3,share_price[0],share_price[2])
            Share3+=temp1
            Share1+=temp2
            Brocker_fee+=temp3
            X,nS1,nS2,temp1,temp2,temp3=trader(X,nS1,nS2,share_price[0],share_price[1])
            Share2+=temp1
            Share1+=temp2
            Brocker_fee+=temp3
            Trade_Occurred=True
    elif (model2_pred>model3_pred) and (pS3/TN)>low_thres:
            X,nS1,nS3,temp1,temp2,temp3=trader(X,nS1,nS3,share_price[0],share_price[2])
            Share3+=temp1
            Share1+=temp2
            Brocker_fee+=temp3
            Trade_Occurred=True
    elif (model3_pred>model2_pred) and (pS2/TN)>low_thres:
            X,nS1,nS2,temp1,temp2,temp3=trader(X,nS1,nS2,share_price[0],share_price[1])
            Share2+=temp1
            Share1+=temp2
            Brocker_fee+=temp3
            Trade_Occurred=True
    if model2_pred<0 and (pS2/TN)>low_thres:
            X,nS1,nS2,temp1,temp2,temp3=trader(X,nS1,nS2,share_price[0],share_price[1])
            Share2+=temp1
            Share1+=temp2
            Brocker_fee+=temp3
            Trade_Occurred=True
    if model3_pred<0 and (pS3/TN)>low_thres:
            X,nS1,nS3,temp1,temp2,temp3=trader(X,nS1,nS3,share_price[0],share_price[2])   
            Share3+=temp1
            Share1+=temp2
            Brocker_fee+=temp3
            Trade_Occurred=True
    return X,nS1,nS2,nS3,Trade_Occurred,Share1,Share2,Share3,Brocker_fee

In [ ]:
def stock2(X,nS1,nS2,nS3,pS1,pS2,pS3,share_prices,Prediction,TN,low_thres,high_thres):
    Trade_Occurred,Brocker_fee,Share1,Share2,Share3,temp1,temp2,temp3=False,0,0,0,0,0,0,0
    if (pS3/TN)>low_thres and (pS2/TN)>low_thres:
            X,nS2,nS3,temp1,temp2,temp3=trader(X,nS2,nS3,share_price[1],share_price[2])
            Share3+=temp1
            Share2+=temp2
            Brocker_fee+=temp3
            X,nS2,nS1,temp1,temp2,temp3=trader(X,nS2,nS1,share_price[1],share_price[0])
            Share1+=temp1
            Share2+=temp2
            Brocker_fee+=temp3
            Trade_Occurred=True
    elif (model1_pred>model3_pred) and (pS3/TN)>low_thres:
            X,nS2,nS3,temp1,temp2,temp3=trader(X,nS2,nS3,share_price[1],share_price[2])
            Share3+=temp1
            Share2+=temp2
            Brocker_fee+=temp3
            Trade_Occurred=True
    elif (model3_pred>model2_pred) and (pS1/TN)>low_thres:
            X,nS2,nS1,temp1,temp2,temp3=trader(X,nS2,nS1,share_price[1],share_price[0])
            Share1+=temp1
            Share2+=temp2
            Brocker_fee+=temp3
            Trade_Occurred=True
    if model1_pred<0 and (pS1/TN)>low_thres:
            X,nS2,nS1,temp1,temp2,temp3=trader(X,nS2,nS1,share_price[1],share_price[0])
            Share1+=temp1
            Share2+=temp2
            Brocker_fee+=temp3
            Trade_Occurred=True
    if model3_pred<0 and (pS3/TN)>low_thres:
            X,nS2,nS3,temp1,temp2,temp3=trader(X,nS2,nS3,share_price[1],share_price[2])
            Share3+=temp1
            Share2+=temp2
            Brocker_fee+=temp3
            Trade_Occurred=True
    return X,nS1,nS2,nS3,Trade_Occurred,Share1,Share2,Share3,Brocker_fee

In [ ]:
def stock3(X,nS1,nS2,nS3,pS1,pS2,pS3,share_prices,Prediction,TN,low_thres,high_thres):
    Trade_Occurred,Brocker_fee,Share1,Share2,Share3,temp1,temp2,temp3=False,0,0,0,0,0,0,0
    if (pS3/TN)>low_thres and (pS2/TN)>low_thres:
        X,nS3,nS1,temp1,temp2,temp3=trader(X,nS3,nS1,share_price[2],share_price[0])
        Share1+=temp1
        Share3+=temp2
        Brocker_fee+=temp3
        X,nS3,nS2,temp1,temp2,temp3=trader(X,nS3,nS2,share_price[2],share_price[1])
        Share2+=temp1
        Share3+=temp2
        Brocker_fee+=temp3
        Trade_Occurred=True
    elif (model2_pred>model1_pred) and (pS1/TN)>low_thres:
        X,nS3,nS1,temp1,temp2,temp3=trader(X,nS3,nS1,share_price[2],share_price[0])
        Share1+=temp1
        Share3+=temp2
        Brocker_fee+=temp3
        Trade_Occurred=True
    elif (model1_pred>model2_pred) and (pS2/TN)>low_thres:
        X,nS3,nS2,temp1,temp2,temp3=trader(X,nS3,nS2,share_price[2],share_price[1])
        Share2+=temp1
        Share3+=temp2
        Brocker_fee+=temp3
        Trade_Occurred=True
    if model2_pred<0 and (pS2/TN)>low_thres:
        X,nS3,nS2,temp1,temp2,temp3=trader(X,nS3,nS2,share_price[2],share_price[1])
        Share2+=temp1
        Share3+=temp2
        Brocker_fee+=temp3
        Trade_Occurred=True
    if model1_pred<0 and (pS1/TN)>low_thres:
        X,nS3,nS1,temp1,temp2,temp3=trader(X,nS3,nS1,share_price[2],share_price[0])
        Share1+=temp1
        Share3+=temp2
        Brocker_fee+=temp3
        Trade_Occurred=True
    return X,nS1,nS2,nS3,Trade_Occurred,Share1,Share2,Share3,Brocker_fee

In [ ]:
def shares_trading(X,nS1,nS2,nS3,share_prices,Prediction,TN,low_thres,high_thres):
    model1_pred,model2_pred,model3_pred=Prediction[0],Prediction[1],Prediction[2]
    pS1,pS2,pS3=(nS1*share_prices[0]),(nS2*share_prices[1]),(nS3*share_prices[2])
    Trade_Occurred,Brocker_fee,Share1,Share2,Share3=False,0,0,0,0
    if (model1_pred>model2_pred and model1_pred>model3_pred) and (pS1/TN)<high_thres:
        X,nS1,nS2,nS3,Trade_Occurred,Share1,Share2,Share3,Brocker_fee=stock1(X,nS1,nS2,nS3,pS1,pS2,pS3,
                                                                      share_prices,Prediction,TN,
                                                                      low_thres,high_thres)
        return X,nS1,nS2,nS3,Trade_Occurred,Share1,Share2,Share3,Brocker_fee
    
    elif (model2_pred>model1_pred and model2_pred>model3_pred) and (pS2/TN)<high_thres:
        X,nS1,nS2,nS3,Trade_Occurred,Share1,Share2,Share3,Brocker_fee=stock2(X,nS1,nS2,nS3,pS1,pS2,pS3,
                                                                      share_prices,Prediction,TN,
                                                                      low_thres,high_thres)
        return X,nS1,nS2,nS3,Trade_Occurred,Share1,Share2,Share3,Brocker_fee
    elif (model3_pred>model1_pred and model3_pred>model2_pred) and (pS3/TN)<high_thres:
        X,nS1,nS2,nS3,Trade_Occurred,Share1,Share2,Share3,Brocker_fee=stock3(X,nS1,nS2,nS3,pS1,pS2,pS3,
                                                                      share_prices,Prediction,TN,
                                                                      low_thres,high_thres)
        return X,nS1,nS2,nS3,Trade_Occurred,Share1,Share2,Share3,Brocker_fee
    else:
        Amount_Gained,Brocker_Fee=0,0
        return X,nS1,nS2,nS3,Trade_Occurred,Share1,Share2,Share3,Brocker_fee

## Front End of Trading Framework

In [ ]:
%matplotlib notebook
plt.rcParams['animation.html']='jshtml'

In [ ]:
data1.index=data1.index.astype('str')
fig=plt.figure(figsize=(10,6))
ax=fig.add_subplot(111)
i=0
x,y=[],[]
x1,y1=[],[]
x2,y2=[],[]
while True:
    x.append(data1.index[i])
    y.append(data1.UBL_Close[i])
    x1.append(data1.index[i])
    y1.append(data1.HBL_Close[i])
    x2.append(data1.index[i])
    y2.append(data1.MEBL_Close[i])
    ax.plot(x,y,color='blue')
    ax.plot(x1,y1,color='green')
    ax.plot(x2,y2,color='purple')
    plt.xticks(rotation=90)
    ax.legend(['UBL','HBL','MEBL'],loc='upper left')
    ax.set_xlabel('Date')
    ax.set_ylabel('Stock_Price')
    ax.set_title('Variations of Stock Prices over time')
    plt.show()
    fig.canvas.draw()
    time.sleep(1)
    i+=1

## Clonning DataFrame

In [ ]:
data3=data1.reset_index()
data3=data3.loc[0:,:]
data3.reset_index(inplace=True)
data3.drop('index',inplace=True,axis=1)
data3

## Creating Data Frame to Record Files into Excel Sheet

In [ ]:
Data_Acquired=pd.DataFrame({'Time_Stamp':['2009-06-18','2009-06-18'],'UBL_Shares':[0,162],'HBL_Shares':[0,92],'MEBL_Shares':[0,986],'Trade_Ocurred':[False,True],
                            'UBL_Pred':[0,0],'HBL_Pred':[0,0],'MEBL_Pred':[0,0],'UBL_portfolio':[0,.33],
                            'HBL_portfolio':[0,.33],'MEBL_portfolio':[0,.33],'Balance':[100000,109],'Brocker_Fee':[0,(99000*.3*.01*3)]
                            ,'Share1_NetChange':[0,-33000],'Share2_NetChange':[0,-33000],'Share3_NetChange':[0,-33000],'TN':[100000,99109]})
Data_Acquired['Time_Stamp']=pd.to_datetime(Data_Acquired['Time_Stamp'],format='%Y-%m-%d')
Data_Acquired.to_csv('Trade_log.csv',index=None)

In [ ]:
Data_Acquired

# Unit Testing <a name='Ut'></a>

In [ ]:
X=100000
nS1=math.floor((X*.33)/data3.loc[0,'UBL_Close'])
nS2=math.floor((X*.33)/data3.loc[0,'HBL_Close'])
nS3=math.floor((X*.33)/data3.loc[0,'MEBL_Close'])
X-=X*.99+(891)
X,nS1,nS2,nS3

In [ ]:
X=100000
nS1=(X*.33)/data3.loc[0,'UBL_Close']
nS2=(X*.33)/data3.loc[0,'HBL_Close']
nS3=(X*.33)/data3.loc[0,'MEBL_Close']

X-=X*.99+(891)
low_thres=0.3
high_thres=0.4
for index in range(data3.shape[0]-1):
    total_shares=nS1+nS2+nS3
    model1_pred=data3.loc[index+1,'UBL_Close']-data3.loc[index,'UBL_Close']
    model2_pred=data3.loc[index+1,'HBL_Close']-data3.loc[index,'HBL_Close']
    model3_pred=data3.loc[index+1,'MEBL_Close']-data3.loc[index,'MEBL_Close']
    prediction=[model1_pred,model2_pred,model3_pred]
    
    share_price=[data3.loc[index,'UBL_Close'],data3.loc[index,'HBL_Close'],data3.loc[index,'MEBL_Close']]
    TN=(nS1*data3.loc[index,'UBL_Close'])+(nS2*data3.loc[index,'HBL_Close'])+(nS3*data3.loc[index,'MEBL_Close'])
    
    X,nS1,nS2,nS3,Trade_Occurred,Share1,Share2,Share3,Brocker_fee=shares_trading(X,nS1,nS2,nS3,
                                                                          share_price,prediction,TN,low_thres,
                                                                          high_thres)
    
    pS1,pS2,pS3=(nS1*data3.loc[index,'UBL_Close']),(nS2*data3.loc[index,'HBL_Close']),(nS3*data3.loc[index,'MEBL_Close'])
    TN=X+(nS1*data3.loc[index,'UBL_Close'])+(nS2*data3.loc[index,'HBL_Close'])+(nS3*data3.loc[index,'MEBL_Close'])


    with open('Trade_log.csv','a',newline='') as raw:
        file_writer=csv.writer(raw)
        file_writer.writerow([data3.loc[index,'Date'],math.floor(nS1),math.floor(nS2),math.floor(nS3),Trade_Occurred,model1_pred,model2_pred,model3_pred,
                              pS1/TN,pS2/TN,pS3/TN,X,Brocker_fee,Share1,Share2,Share3,TN])

# Trade Log <a name='Tl'></a>

In [ ]:
d=pd.read_csv('Trade_log.csv')
d

In [ ]:
TN

In [ ]:
pS1/100000,pS2/100000,pS3/100000

In [ ]:
plt.figure(figsize=(10,6))
sns.lineplot(data=d.iloc[:2481,1:4])
plt.xticks(rotation=90)
plt.xlabel('Row in Dataset')
plt.ylabel('Number Of Stocks')
plt.title('Variations in Number of Stocks')
plt.legend(['UBL_Stocks','HBL_Stocks','MEBL_Stocks'],loc='upper left')

In [ ]:
plt.figure(figsize=(10,6))
sns.lineplot(data=d.iloc[:,16])
plt.xticks(rotation=90)
plt.xlabel('Row in Dataset')
plt.ylabel('Net Worth')
plt.title('Variation in Networth')
plt.text(x=1300,y=(.2*(10^7)),s='Boom')
plt.legend(['NetWorth Variation'],loc='upper left')

## Why 2013 Boom?

### IMF Support relief Programme

![IMF Relief Programme](IMF_PRESS_CUT.png)

### CPEC

![Press Release](CPEC.png)

In [ ]:
plt.figure(figsize=(10,6))
sns.lineplot(data=d.iloc[:201,8:11])
plt.xticks(rotation=90)
plt.xlabel('Row in Dataset')
plt.ylabel('Percentage of Each Stocks')
plt.title('Variation of Stocks in Portfolio overtime')
plt.legend(['UBL_Stocks','HBL_Stocks','MEBL_Stocks'],loc='upper left')

## Investment Portfolio

In [ ]:
total_shares=nS1+nS2+nS3
X,nS1/total_shares,nS2/total_shares,nS3/total_shares

# Per Trade Data <a name='pt'></a>

In [ ]:
Names=['ATRL','bahl','EPCL','FCCL','LUCK','MCB','MLCF','NETSOL','NML',
      'OGDC','PPL','PSO','SEARL','TRG']
i,dataframes=0,[]
for name in Names:
    dataframes.append(pd.read_csv('../per_trade_data/'+name+'.txt',delimiter='|',index_col='TRADE_ENTRY_DATE',
                        parse_dates=True))
    dataframes[i].reset_index(inplace=True)
    i+=1

In [ ]:
dataframes

# Improving DateTime Format <a name='dt'></a>

In [ ]:
def Format(t):
    return t[:1]+':'+t[1:3]+':'+t[3:5]+'.'+t[5:] if len(t)==9 else t[:2]+':'+t[2:4]+':'+t[4:6]+'.'+t[6:]

In [ ]:
def Combined(date,time):
    return date[:11]+Format(str(time))

In [ ]:
def Formated(row):
    return Combined(str(row.TRADE_ENTRY_DATE),str(row.KATS_TIME))

In [ ]:
Names=['ATRL','bahl','EPCL','FCCL','LUCK','MCB','MLCF','NETSOL','NML',
      'OGDC','PPL','PSO','SEARL','TRG']
i,dataframes=0,[]
for i in range(14):
    dataframes[i]['Date_Time']=dataframes[i].apply(Formated,axis='columns')
    dataframes[i]['Date_Time']=pd.to_datetime(dataframes[i]['Date_Time'], infer_datetime_format=True)
    dataframes[i].to_csv('../Modified_Data/Modified_'+Names[i]+'.csv',index='Date_Time')

In [ ]:
df=pd.read_csv('../Modified_Data/Modified_ATRL.csv',parse_dates=True,index_col='Date_Time',infer_datetime_format=True)
df.drop(['Unnamed: 0','KATS_TIME'],axis=1,inplace=True)
df.columns=['TRADE_ENTRY_DATE','ATRL','TRADE_QTY','TRADE_RATE']

In [ ]:
df.reset_index(inplace=True)

# Cleaning Data

In [ ]:
Names=['bahl','EPCL','FCCL','LUCK','MCB','MLCF','NETSOL','NML',
      'OGDC','PPL','PSO','SEARL','TRG']
df=pd.read_csv('../Modified_Data/Modified_ATRL.csv',parse_dates=True,index_col='Date_Time',infer_datetime_format=True)
df.drop(['Unnamed: 0','KATS_TIME'],axis=1,inplace=True)
df.reset_index(inplace=True)
for i in range(len(Names)):
    df1=pd.read_csv('../Modified_Data/Modified_'+Names[i]+'.csv',parse_dates=True,index_col='Date_Time',infer_datetime_format=True)
    df1.drop(['Unnamed: 0','KATS_TIME'],axis=1,inplace=True)
    df1.reset_index(inplace=True)
    df1.columns=[Names[i]+'_DT',Names[i]+'_TRADE_DATE',Names[i],Names[i]+'_TRADE_QTY',Names[i]+'_TRADE_RATE']
    df=pd.concat([df,df1],axis=1)

In [ ]:
df.drop(['bahl_DT','EPCL_DT','FCCL_DT','LUCK_DT','MCB_DT','MLCF_DT','NETSOL_DT','NML_DT','OGDC_DT','PPL_DT',
        'OGDC_DT','PPL_DT','PSO_DT','SEARL_DT','TRG_DT'],axis=1,inplace=True)
df.drop(['bahl_TRADE_DATE','EPCL_TRADE_DATE','FCCL_TRADE_DATE','LUCK_TRADE_DATE','MCB_TRADE_DATE','MLCF_TRADE_DATE',
         'NETSOL_TRADE_DATE','NML_TRADE_DATE','OGDC_TRADE_DATE','PPL_TRADE_DATE',
        'OGDC_TRADE_DATE','PPL_TRADE_DATE','PSO_TRADE_DATE','SEARL_TRADE_DATE','TRG_TRADE_DATE'],axis=1,inplace=True)

In [ ]:
df.bahl.fillna('BAHL',inplace=True),df.EPCL.fillna('EPCL',inplace=True),df.FCCL.fillna('FCCL',inplace=True),
df.LUCK.fillna('LUCK',inplace=True),df.MCB.fillna('MCB',inplace=True),
df.MLCF.fillna('MLCF',inplace=True),df.NETSOL.fillna('NETSOL',inplace=True),df.NML.fillna('NML',inplace=True),
df.OGDC.fillna('OGDC',inplace=True),df.PPL.fillna('PPL',inplace=True),
df.PSO.fillna('PSO',inplace=True),df.SEARL.fillna('SEARL',inplace=True),df.TRG.fillna('TRG',inplace=True)
df.fillna(0,inplace=True)

In [ ]:
Names=['ATRL','bahl','EPCL','FCCL','LUCK','MCB','MLCF','NETSOL','NML',
      'OGDC','PPL','PSO','SEARL','TRG']
df_ATRL=df.iloc[:,[0,1,2,3,4]]
df_BAHL=df.iloc[:,[0,1,5,6,7]]
df_EPCL=df.iloc[:,[0,1,7,8,9]]
df_FCCL=df.iloc[:,[0,1,10,11,12]]
df_LUCK=df.iloc[:,[0,1,13,14,15]]
df_MCB=df.iloc[:,[0,1,16,17,18]]
df_MLCF=df.iloc[:,[0,1,19,20,21]]
df_NETSOL=df.iloc[:,[0,1,22,23,24]]
df_NML=df.iloc[:,[0,1,25,26,27]]
df_OGDC=df.iloc[:,[0,1,28,29,30]]
df_PPL=df.iloc[:,[0,1,31,32,33]]
df_PSO=df.iloc[:,[0,1,34,35,36]]
df_SEARL=df.iloc[:,[0,1,37,38,39]]
df_TRG=df.iloc[:,[0,1,40,41,42]]
dataframes=[df_ATRL,df_BAHL,df_EPCL,df_FCCL,df_LUCK,df_MCB,df_MLCF,df_NETSOL,df_NML,df_OGDC,df_PPL,df_PSO,df_SEARL,
           df_TRG]

# Saving Cleaned data

In [ ]:
Names=['ATRL','bahl','EPCL','FCCL','LUCK','MCB','MLCF','NETSOL','NML',
      'OGDC','PPL','PSO','SEARL','TRG']
i=0
for i in range(14):
    dataframes[i].to_csv('../Cleaned_Data/'+Names[i]+'.csv',index='Date_Time')

# ETL

In [83]:
df=pd.read_csv('../Cleaned_Data/ATRL.csv',parse_dates=True,index_col='Date_Time',infer_datetime_format=True)[:20000]
df.drop(['Unnamed: 0'],axis=1,inplace=True)
df.loc[:,'TRADE_QTY'],df.loc[:,'TRADE_RATE']=df.loc[:,'TRADE_RATE'],df.loc[:,'TRADE_QTY']
df.columns=['TRADE_ENTRY_DATE','ID','TRADE_QTY','TRADE_RATE']
df.reset_index(inplace=True)
df1=pd.read_csv('../Cleaned_Data/bahl.csv',parse_dates=True,index_col='Date_Time',infer_datetime_format=True)[:20000]
df1.drop(['Unnamed: 0'],axis=1,inplace=True)
df1.loc[:,'bahl_TRADE_QTY'],df1.loc[:,'bahl_TRADE_RATE']=df1.loc[:,'bahl_TRADE_RATE'],df1.loc[:,'bahl_TRADE_QTY']
df1.columns=['TRADE_ENTRY_DATE','ID','TRADE_QTY','TRADE_RATE']
df1.reset_index(inplace=True)
df=pd.concat([df,df1])
Names=['bahl','EPCL','FCCL','LUCK','MCB','MLCF','NETSOL','NML',
      'OGDC','PPL','PSO','SEARL','TRG']
print('Into First loop')
for i in range(len(Names)):
    print('Into ',i,'X')
    df1=pd.read_csv('../Cleaned_Data/'+Names[i+1]+'.csv',parse_dates=True,index_col='Date_Time',infer_datetime_format=True)[:20000]
    print(Names[i+1])
    df1.drop(['Unnamed: 0'],axis=1,inplace=True)
    df1.loc[:,Names[i+1]],df1.loc[:,Names[i]+'_TRADE_RATE']=df1.loc[:,Names[i]+'_TRADE_RATE'],df1.loc[:,Names[i+1]]
    df1.columns=['TRADE_ENTRY_DATE','ID','TRADE_QTY','TRADE_RATE']
    df1.reset_index(inplace=True)
    df=pd.concat([df,df1])
    print('done ',i,'X')
df

Into First loop
Into  0 X
EPCL
done  0 X
Into  1 X
FCCL
done  1 X
Into  2 X
LUCK
done  2 X
Into  3 X
MCB
done  3 X
Into  4 X
MLCF
done  4 X
Into  5 X

KeyboardInterrupt:

In [46]:
df.columns=['Date_Time','TRADE_ENTRY_DATE','ID','TRADE_RATE','TRADE_QTY']
df

                      Date_Time TRADE_ENTRY_DATE    ID  TRADE_RATE  TRADE_QTY
0    2009-04-01 09:30:01.098700       2009-04-01  ATRL       82.00      100.0
1    2009-04-01 09:30:01.098800       2009-04-01  ATRL       82.00     1000.0
2    2009-04-01 09:30:01.098900       2009-04-01  ATRL       82.00      100.0
3    2009-04-01 09:30:01.099000       2009-04-01  ATRL       82.00      300.0
4    2009-04-01 09:30:01.099100       2009-04-01  ATRL       82.00     3700.0
...                         ...              ...   ...         ...        ...
1995 2009-04-01 10:57:00.003500       2009-04-01   TRG       51.25     1500.0
1996 2009-04-01 10:57:01.000800       2009-04-01   TRG       51.25    25000.0
1997 2009-04-01 10:57:05.002600       2009-04-01   TRG       51.02     1000.0
1998 2009-04-01 10:57:05.002700       2009-04-01   TRG       51.50      500.0
1999 2009-04-01 10:57:13.001200       2009-04-01   TRG       51.02     4000.0

[28000 rows x 5 columns]

In [84]:
df_bahl=pd.read_csv('../Cleaned_Data/bahl.csv')
df_bahl.head()

,Unnamed: 0,Date_Time,TRADE_ENTRY_DATE,bahl,bahl_TRADE_QTY,bahl_TRADE_RATE
0,0,2009-04-01 09:30:01.098700,2009-04-01,BAHL,200.0,26.92
1,1,2009-04-01 09:30:01.098800,2009-04-01,BAHL,1000.0,27.20
2,2,2009-04-01 09:30:01.098900,2009-04-01,BAHL,5000.0,27.00
3,3,2009-04-01 09:30:01.099000,2009-04-01,BAHL,5000.0,27.00
4,4,2009-04-01 09:30:01.099100,2009-04-01,BAHL,2000.0,27.00

# Grouping data to form datacube

In [47]:
df1=df[:]
df2=df1.groupby([df1.TRADE_ENTRY_DATE,df1.Date_Time.hour,df1.Date_Time.minute,df1.SYMBOL_CODE]).TRADE_RATE.agg(['max','min'])
df2['TRADE_RATE']=df1.groupby([df1.TRADE_ENTRY_DATE,df1.Date_Time.hour,df1.Date_Time.minute]).TRADE_RATE.first()
df2.columns=['HIGH','LOW','OPEN']
df2.head()

AttributeError: 'Series' object has no attribute 'hour'

In [77]:
df1=df[:]
df2=df1.groupby([df1.TRADE_ENTRY_DATE,df1.Date_Time.dt.hour,df1.Date_Time.dt.minute,df1.ID]).TRADE_RATE.agg(['min','max'])
df2['TRADE_RATE']=df1.groupby([df1.TRADE_ENTRY_DATE,df1.Date_Time.dt.hour,df1.Date_Time.dt.minute,df1.ID]).TRADE_RATE.first()
df2['CLOSE']=df1.groupby([df1.TRADE_ENTRY_DATE,df1.Date_Time.dt.hour,df1.Date_Time.dt.minute,df1.ID]).TRADE_RATE.last()
df2.columns=['LOW','HIGH','OPEN','CLOSE']

In [78]:
df2.to_csv('file.csv')
df2

                                               LOW    HIGH    OPEN   CLOSE
TRADE_ENTRY_DATE Date_Time Date_Time ID
2009-04-01       9         30        ATRL    82.00   83.50   82.00   82.90
                                     BAHL    26.14   27.30   26.92   26.50
                                     EPCL    26.14   27.30   26.92   26.50
                                     FCCL    22.40   23.25   22.40   22.75
                                     LUCK     6.41    6.74    6.49    6.70
...                                            ...     ...     ...     ...
                 10        57        OGDC    30.95   31.00   30.99   31.00
                                     PPL     74.00   74.01   74.01   74.00
                                     PSO    175.15  175.25  175.25  175.15
                                     SEARL  196.12  196.45  196.15  196.45
                                     TRG     51.02   51.50   51.50   51.02

[1232 rows x 4 columns]

In [82]:
file=pd.read_csv('file.csv')
file.sort_values(by=['TRADE_ENTRY_DATE','Date_Time','Date_Time.1'],inplace=True)
file.head()

  TRADE_ENTRY_DATE  Date_Time  Date_Time.1    ID   OPEN   HIGH    LOW  CLOSE
0       2009-04-01          9           30  ATRL  82.00  83.50  82.00  82.90
1       2009-04-01          9           30  BAHL  26.92  27.30  26.14  26.50
2       2009-04-01          9           30  EPCL  26.92  27.30  26.14  26.50
3       2009-04-01          9           30  FCCL  22.40  23.25  22.40  22.75
4       2009-04-01          9           30  LUCK   6.49   6.74   6.41   6.70

# Installing Gradient Boosted Tree model

In [ ]:
!pip install XGBoost

In [ ]:
data=df

In [ ]:
from sklearn import model_selection,tree
import xgboost as xgb
from sklearn import metrics

In [ ]:
df['date'] = df.index
df['hour'] = df['date'].dt.hour
df['dayofweek'] = df['date'].dt.dayofweek
df['quarter'] = df['date'].dt.quarter
df['month'] = df['date'].dt.month
df['year'] = df['date'].dt.year
df['dayofyear'] = df['date'].dt.dayofyear
df['dayofmonth'] = df['date'].dt.day
df['weekofyear'] = df['date'].dt.weekofyear
    
X = df[['hour','dayofweek','quarter','month','year',
           'dayofyear','dayofmonth','weekofyear','Open','High','Low','Volume']]

In [ ]:
X.head()

In [ ]:
X.Open=X.Open.astype('float')
X.High=X.High.astype('float')
X.Low=X.Low.astype('float')
X.Volume=X.Volume.astype('float')

In [ ]:
y=data[['Close']]

In [ ]:
y=y.astype('float')
X

In [ ]:
X_train,X_test,y_train,y_test=model_selection.train_test_split(X,y,test_size=0.2)

# Training model

In [ ]:
reg = xgb.XGBRegressor(n_estimators=1000)
reg.fit(X_train, y_train)

In [ ]:
yhat=reg.predict(X_test)

In [ ]:
#sns.lineplot(data=yhat)
sns.lineplot(data=y_test)

In [ ]:
sns.lineplot(data=yhat)

In [ ]:
metrics.mean_squared_error(y_test,yhat)

In [ ]:
yhat=reg.predict(X_train)

In [ ]:
sns.lineplot(data=yhat)

In [ ]:
sns.lineplot(data=y_test)