# Import libraries

In [32]:
import os
import math
import keras
import numpy as np
import pandas as pd
import tensorflow as tf
from copy import deepcopy
from keras.layers import *
from keras.layers import LSTM
from keras.layers import Dense
from datetime import datetime
from keras.layers import Dropout
import matplotlib.pyplot as plt
from keras.models import Sequential
from keras.callbacks import EarlyStopping
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error,r2_score

# Loading Data

In [65]:
df=pd.read_csv('../MPT Data/Combined.csv')
df.drop(['TRADE_ENTRY_DATE','Unnamed: 0'],axis=1,inplace=True)
for _,columns in enumerate(df):
    df[[columns]]=df[[columns]].astype('float')
df.columns=['ATRL','bahl','EPCL','FCCL','LUCK','MCB','MLCF','NETSOL','NML',
      'OGDC','PPL','PSO','SEARL','TRG']
df.head()

,ATRL,bahl,EPCL,FCCL,LUCK,MCB,MLCF,NETSOL,NML,OGDC,PPL,PSO,SEARL,TRG
0,82.90,26.50,22.75,6.70,51.35,144.00,5.00,17.40,31.01,73.85,176.75,200.80,64.05,1.37
1,83.30,26.58,23.00,6.70,51.25,144.17,4.98,17.45,31.30,74.00,177.00,200.99,64.00,1.40
2,85.00,26.90,22.90,6.75,51.50,144.49,5.05,17.40,31.20,73.70,177.30,201.03,63.10,1.38
3,85.40,27.02,23.19,6.70,51.85,145.00,5.08,17.50,31.05,73.80,177.33,201.12,60.80,1.31
4,86.85,28.10,23.11,6.74,51.85,145.00,5.17,17.26,30.80,73.70,176.80,201.45,62.00,1.40

# Preprocessing

## Train Test split

In [105]:
train_data=[]
test_data=[]
for share in shares1:
    train_data.append(df.loc[:299999,share])
    test_data.append(df.loc[300000:400000,share])

In [106]:
df.head()

,ATRL,bahl,EPCL,FCCL,LUCK,MCB,MLCF,NETSOL,NML,OGDC,PPL,PSO,SEARL,TRG
0,82.90,26.50,22.75,6.70,51.35,144.00,5.00,17.40,31.01,73.85,176.75,200.80,64.05,1.37
1,83.30,26.58,23.00,6.70,51.25,144.17,4.98,17.45,31.30,74.00,177.00,200.99,64.00,1.40
2,85.00,26.90,22.90,6.75,51.50,144.49,5.05,17.40,31.20,73.70,177.30,201.03,63.10,1.38
3,85.40,27.02,23.19,6.70,51.85,145.00,5.08,17.50,31.05,73.80,177.33,201.12,60.80,1.31
4,86.85,28.10,23.11,6.74,51.85,145.00,5.17,17.26,30.80,73.70,176.80,201.45,62.00,1.40

### Normalizing Data
Now you need to define a scaler to normalize the data. MinMaxScalar scales all the data to be in the region of 0 and 1. You can also reshape the training and test data to be in the shape [data_size, num_features]

In [107]:
scaler = MinMaxScaler()
for i in range(len(shares1)):
    train_data[i] = train_data[i].values.reshape(-1,1)
    test_data[i] = test_data[i].values.reshape(-1,1)
td=train_data.copy()

Due to the observation we made earlier, that is, different time periods of data have different value ranges, you normalize the data by splitting the full series into windows. If you don't do this, the earlier data will be close to 0 and will not add much value to the learning process. Here you choose a window size of 25000.

In [108]:
# Train the Scaler with training data and smooth data
train_data_norm=[]
smoothing_window_size = 200

for i in range(len(shares1)):
    train_data_acq=td[i].copy() 
    for di in range(0,300000,smoothing_window_size):
        scaler.fit(train_data_acq[di:di+smoothing_window_size,:])
        train_data_acq[di:di+smoothing_window_size,:] = scaler.transform(train_data_acq[di:di+smoothing_window_size,:])
    train_data_norm.append(train_data_acq)
#Normalize the test data too
   # test_data[i]=scaler.fit(test_data[i]).transform(test_data[i]).reshape(-1)
# Reshape both train and test data
for i in range(len(shares1)):
    train_data_norm[i] = train_data_norm[i].reshape(-1)

### Preparing Train and test data for training

#### Train data

In [111]:
Xt=[]
yt=[]
X_train_comb = []
y_train_comb = [] 
for j in range(len(shares1)):
    Xt,yt=[],[]
    for i in range(60, len(train_data_norm[j])):
        Xt.append(train_data_norm[j][i-60:i])
        yt.append(train_data_norm[j][i])
    
    Xt, yt = np.array(Xt), np.array(yt)
    Xt = np.reshape(Xt, (Xt.shape[0], Xt.shape[1], 1))
    X_train_comb.append(Xt)
    y_train_comb.append(yt)

#### Test data

In [120]:
Xt=[]
yt=[]
X_test_comb = []
y_test_comb = [] 
for j in range(len(shares1)):
    Xt,yt=[],[]
    for i in range(60, len(test_data[j])):
        Xt.append(test_data[j][i-60:i])
        yt.append(test_data[j][i])
    
    Xt, yt = np.array(Xt), np.array(yt)
    Xt = np.reshape(Xt, (Xt.shape[0], Xt.shape[1], 1))
    X_train_comb.append(Xt)
    y_train_comb.append(yt)

# Trading Framework

## Trader function

In [ ]:
def trader(X,nS3,share_price1,share_price2):
    '''
    This function takes cash,Number of shares
    Share price at minimum and share price at maximum
    and returns the remaining amount
    '''
    #Selling shares at maximum point in 100 entries
    Amount_Gained=((nS3*share_price2)*.2)
    Brocker_fee=((nS3*share_price2)*.2)*.3*.01
    nS3=nS3-(nS3*.2)
    X=X+Amount_Gained-Brocker_fee
    #Buying shares at minimum point in 100 entries
    Shares_bought=(.997*Amount_Gained)/share_price1
    nS3=nS3+Shares_bought
    X=X-(.997*Amount_Gained)
    return X,math.floor(nS3)

## Portfolio declaration

In [8]:
lm=250
X=2000
tpf=98000
TN=X+tpf
df1=df
shares1={'ATRL': 0,'bahl': 0,'EPCL': 0,'FCCL': 0,'LUCK': 0,'MCB': 0,
 'MLCF': 0,'NETSOL': 0,'NML': 0,'OGDC': 0,'PPL': 0,'PSO': 0,
 'SEARL': 0,'TRG': 0}
Min={'ATRL': 0,'bahl': 0,'EPCL': 0,'FCCL': 0,'LUCK': 0,'MCB': 0,
 'MLCF': 0,'NETSOL': 0,'NML': 0,'OGDC': 0,'PPL': 0,'PSO': 0,
 'SEARL': 0,'TRG': 0}
Max={'ATRL': 0,'bahl': 0,'EPCL': 0,'FCCL': 0,'LUCK': 0,'MCB': 0,
 'MLCF': 0,'NETSOL': 0,'NML': 0,'OGDC': 0,'PPL': 0,'PSO': 0,
 'SEARL': 0,'TRG': 0}
for share in shares1:
    shares1[share]=math.floor(7000/df1.loc[0,share])

## Testing Framework

In [ ]:
TN=[100000]
df2=df
for i in range(df2.shape[0]//lm-1):
    df1=df2[i*lm:(i*lm)+lm]
    for share in shares1:
        Min[share]=df1[share].idxmin()
        Max[share]=df1[share].idxmax()
    for share in shares1:
        if Min[share]!=Max[share]:
           X,shares1[share]=trader(X,shares1[share],df2.loc[Min[share],share],df2.loc[Max[share],share])
           tpf+=(df2.loc[(i*lm)+lm,share]*shares1[share])
           TN.append(X+tpf)
           print(X,tpf)
    tpf=0

# Machine Learning Model

## Model Declaration

In [126]:
def model():
    regressor = Sequential()

    regressor.add(LSTM(units = 50, return_sequences = True, input_shape = (X_train.shape[1], 1)))
    regressor.add(Dropout(0.2))

    regressor.add(LSTM(units = 50, return_sequences = True))
    regressor.add(Dropout(0.2))

    regressor.add(LSTM(units = 50, return_sequences = True))
    regressor.add(Dropout(0.2))

    regressor.add(LSTM(units = 50))
    regressor.add(Dropout(0.2))

    regressor.add(Dense(units = 1))

    regressor.compile(optimizer = 'adam', loss = 'mean_squared_error')

    
    return regressor

## Storing initialization of 14 models for 14 stocks and MAPE

In [ ]:
models=[]
MAPE={'ATRL': 0,'bahl': 0,'EPCL': 0,'FCCL': 0,'LUCK': 0,'MCB': 0,
 'MLCF': 0,'NETSOL': 0,'NML': 0,'OGDC': 0,'PPL': 0,'PSO': 0,
 'SEARL': 0,'TRG': 0}
for share in shares1:
    models.append(model())

## Training

In [123]:
for i in range(len(shares1)):
    models[i].fit(X_train_comb[i],y_train_comb[i],epoch=10,batch_size=750)

AttributeError: 'function' object has no attribute 'fit'