# Import libraries

In [6]:
import os
import math
import keras
import numpy as np
import pandas as pd
import tensorflow as tf
from keras.layers import *
from keras.layers import LSTM
from keras.layers import Dense
from keras.layers import Dropout
from datetime import datetime
import matplotlib.pyplot as plt
from keras.models import Sequential
from keras.callbacks import EarlyStopping
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error,r2_score

# Loading Data

In [7]:
df=pd.read_csv('../MPT Data/Combined.csv')
df.drop(['TRADE_ENTRY_DATE','Unnamed: 0'],axis=1,inplace=True)
for _,columns in enumerate(df):
    df[[columns]]=df[[columns]].astype('float')
df.columns=['ATRL','bahl','EPCL','FCCL','LUCK','MCB','MLCF','NETSOL','NML',
      'OGDC','PPL','PSO','SEARL','TRG']
df.head()

,ATRL,bahl,EPCL,FCCL,LUCK,MCB,MLCF,NETSOL,NML,OGDC,PPL,PSO,SEARL,TRG
0,82.90,26.50,22.75,6.70,51.35,144.00,5.00,17.40,31.01,73.85,176.75,200.80,64.05,1.37
1,83.30,26.58,23.00,6.70,51.25,144.17,4.98,17.45,31.30,74.00,177.00,200.99,64.00,1.40
2,85.00,26.90,22.90,6.75,51.50,144.49,5.05,17.40,31.20,73.70,177.30,201.03,63.10,1.38
3,85.40,27.02,23.19,6.70,51.85,145.00,5.08,17.50,31.05,73.80,177.33,201.12,60.80,1.31
4,86.85,28.10,23.11,6.74,51.85,145.00,5.17,17.26,30.80,73.70,176.80,201.45,62.00,1.40

# Preprocessing

## Train Test split

In [9]:
train_data=[]
test_data=[]
for share in shares1:
    train_data.append(df.loc[:299999,share])
    test_data.append(df.loc[300000:400000,share])

### Normalizing Data
Now you need to define a scaler to normalize the data. MinMaxScalar scales all the data to be in the region of 0 and 1. You can also reshape the training and test data to be in the shape [data_size, num_features]

In [10]:
scaler = MinMaxScaler()
for i in range(len(shares1)):
    train_data[i] = train_data[i].values.reshape(-1,1)
    test_data[i] = test_data[i].values.reshape(-1,1)

In [ ]:
# Train the Scaler with training data and smooth data
smoothing_window_size = 200
for i in range(len(shares1)):
    train_data_acq=train_data[i]
    for di in range(0,300000,smoothing_window_size):
        scaler.fit(train_data_acq[di:di+smoothing_window_size,:])
        train_data_acq[di:di+smoothing_window_size,:] = scaler.transform(train_data_acq[di:di+smoothing_window_size,:])
    train_data[i]=train_data_acq
#Normalize the test data too
   # test_data[i]=scaler.fit(test_data[i]).transform(test_data[i]).reshape(-1)
# Reshape both train and test data
for i in range(len(shares1)):
    train_data[i] = train_data[i].reshape(-1)

# Trading Framework

## Trader function

In [ ]:
def trader(X,nS3,share_price1,share_price2):
    '''
    This function takes cash,Number of shares
    Share price at minimum and share price at maximum
    and returns the remaining amount
    '''
    #Selling shares at maximum point in 100 entries
    Amount_Gained=((nS3*share_price2)*.2)
    Brocker_fee=((nS3*share_price2)*.2)*.3*.01
    nS3=nS3-(nS3*.2)
    X=X+Amount_Gained-Brocker_fee
    #Buying shares at minimum point in 100 entries
    Shares_bought=(.997*Amount_Gained)/share_price1
    nS3=nS3+Shares_bought
    X=X-(.997*Amount_Gained)
    return X,math.floor(nS3)

## Portfolio declaration

In [8]:
lm=250
X=2000
tpf=98000
TN=X+tpf
df1=df
shares1={'ATRL': 0,'bahl': 0,'EPCL': 0,'FCCL': 0,'LUCK': 0,'MCB': 0,
 'MLCF': 0,'NETSOL': 0,'NML': 0,'OGDC': 0,'PPL': 0,'PSO': 0,
 'SEARL': 0,'TRG': 0}
Min={'ATRL': 0,'bahl': 0,'EPCL': 0,'FCCL': 0,'LUCK': 0,'MCB': 0,
 'MLCF': 0,'NETSOL': 0,'NML': 0,'OGDC': 0,'PPL': 0,'PSO': 0,
 'SEARL': 0,'TRG': 0}
Max={'ATRL': 0,'bahl': 0,'EPCL': 0,'FCCL': 0,'LUCK': 0,'MCB': 0,
 'MLCF': 0,'NETSOL': 0,'NML': 0,'OGDC': 0,'PPL': 0,'PSO': 0,
 'SEARL': 0,'TRG': 0}
for share in shares1:
    shares1[share]=math.floor(7000/df1.loc[0,share])